- html_tag class: 'no-js' do
  %head
    %title lavaland
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application
    = stylesheet_link_tag "colorbox"
    = javascript_include_tag :application
    = javascript_include_tag "jquery.colorbox"
    = javascript_include_tag "javascripts/ckeditor/ckeditor"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    #page
      #logo 
        = link_to "LAVALAND", :controller => "home", :action => "index"
      #sub_logo_container
        #sub_logo_left connect | create | converse
        #sub_logo_right Arts in Athens Ohio
      #container.container
        %header
          %nav
            %ul.hmenu
              = render 'shared/navigation'
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        #main{:role => "main"}
          = yield
        %footer
